<div class="aboutPage">
  <div class="aboutPage_images">
    <img src="assets/pic1.jpg" style="width: 280px; height: 200px">
    <img src="assets/pic2.jpg" style="width: 280px; height: 200px">
    <img src="assets/pic3.jpg" style="width: 280px; height: 200px">
  </div>
  <div class="aboutPage_text">
    ФотоГалерея - это бесплатная программа для просмотра фотографий.
    <br>
    Стильный дизайн и понятное русскоязычное меню.
    ФотоГалерея имеет современный продуманный интерфейс.
    Даже неопытным пользователям будет очевидно назначение всех кнопок, начинать работу в программе можно без дополнительного обучения.
  </div>


</div>
