<div class="home">
  <div class='home_companies'>
    <p (click)="goToCompany()" class="home_companies_title"> All Companies</p>
    <div class="home_companies_image">
      <img src="assets/companies_image.jpeg">
    </div>
  </div>
  <div class="home_vacancies">
    <p (click)="goToVacancy()" class="home_vacancies_title">All Vacancies</p>
    <div class="home_vacancies_image">
      <img src="https://www.fairfields.co.uk/fes/assets/sites/3/2016/03/Join-the-team.jpg">
    </div>
  </div>
</div>
